{% extends 'base.html.twig' %}

{% block title %}Beer Test!{% endblock %}

{% block body %}
    <h1>Enter Coordinates</h1>
    <p>&nbsp;</p>

    {{ form_start(form) }}

    <div class="row">
        <!-- First column -->
        <div class="col-md-6 col-xs-12">

            <div class="row form-group">
                <div class="col-md-4">{{ form_label(form.latitude, 'Latitude') }}</div>
                <div class="col-md-7">
                    {{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-error">
                        {{ form_errors(form.latitude) }}
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">{{ form_label(form.longitude, 'Longitude') }}</div>
                <div class="col-md-7">
                    {{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-error">
                        {{ form_errors(form.longitude) }}
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12 col-xs-12">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>

        </div>
    </div>

    {{ form_end(form) }}

    {% if data %}
        <hr>

        <h2>Travels</h2>
        <ul>
        {% for travelInfo in data['travels'] %}
            <li>{{ travelInfo }}</li>
        {% endfor %}
        </ul>

        <h2>Beers</h2>
        <ul>
        {% for beerInfo in data['beers'] %}
            <li>{{ beerInfo }}</li>
        {% endfor %}
        </ul>

        <h2>Total: </h2>
        <ul>
            <li>{{ data['total'] }} Km</li>
        </ul>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
    {% endif %}

{% endblock %}
